
.a1 {
    color: yellow;
    background-color: green;
}

.a2 {
    color: blue;
    background-color: purple;
}


.a3 {
    color: orange;
    background-color:pink;

}

.a4 {
    color: magenta;
    background-color:maroon;
}
